<div
  class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
>
  <div
    class="flex flex-col justify-between gap-5 border-b border-gray-200 px-5 py-4 sm:flex-row sm:items-center dark:border-gray-800"
  >
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">Locations List</h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">List of locations</p>
    </div>
    <div class="flex gap-3">
      <app-button variant="outline" (click)="Export()"> Export </app-button>
    </div>
  </div>
  <div class="overflow-x-auto custom-scrollbar">
    <table class="w-full">
      <thead>
      <tr class="border-b border-gray-200 dark:divide-gray-800 dark:border-gray-800">
        <th class="lg:w-14 px-5 py-4 text-left whitespace-nowrap">
          <label
            class="cursor-pointer text-sm font-medium text-gray-700 select-none dark:text-gray-400"
          >
            <input class="sr-only" type="checkbox" /><span
            class="flex h-4 w-4 items-center justify-center rounded-sm border-[1.25px] bg-transparent border-gray-300 dark:border-gray-700"
          ><span class="opacity-0"
          ><svg
            fill="none"
            height="12"
            viewBox="0 0 12 12"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
                    <path
                      d="M10 3L4.5 8.5L2 6"
                      stroke="white"
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      strokeWidth="1.6666"
                    ></path></svg></span
          ></span>
          </label>
        </th>
        <th
          class="cursor-pointer px-5 whitespace-nowrap py-4 text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">Id</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-500 dark:text-gray-400"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 whitespace-nowrap py-4 text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">Address</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-500 dark:text-gray-400"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 py-4 whitespace-nowrap text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">Description</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 py-4 whitespace-nowrap text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400"></p>Location Type
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 py-4 whitespace-nowrap text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">Location Type Description</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 py-4 whitespace-nowrap text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">CreatedDate</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300 dark:text-gray-400/50"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
        <th
          class="cursor-pointer px-5 whitespace-nowrap py-4 text-left text-xs font-medium text-gray-500 dark:text-gray-400"
        >
          <div class="flex items-center gap-3">
            <p class="text-xs font-medium text-gray-500 dark:text-gray-400">UpdatedDate</p>
            <span class="flex flex-col gap-0.5"
            ><svg
              class="text-gray-300"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 0.585167C4.21057 0.300808 3.78943 0.300807 3.59038 0.585166L1.05071 4.21327C0.81874 4.54466 1.05582 5 1.46033 5H6.53967C6.94418 5 7.18126 4.54466 6.94929 4.21327L4.40962 0.585167Z"
                    fill="currentColor"
                  ></path></svg
            ><svg
              class="text-gray-300"
              fill="none"
              height="5"
              viewBox="0 0 8 5"
              width="8"
              xmlns="http://www.w3.org/2000/svg"
            >
                  <path
                    d="M4.40962 4.41483C4.21057 4.69919 3.78943 4.69919 3.59038 4.41483L1.05071 0.786732C0.81874 0.455343 1.05582 0 1.46033 0H6.53967C6.94418 0 7.18126 0.455342 6.94929 0.786731L4.40962 4.41483Z"
                    fill="currentColor"
                  ></path></svg
            ></span>
          </div>
        </th>
      </tr>
      </thead>
      <tbody class="divide-x divide-y divide-gray-200 dark:divide-gray-800">
        @if (dataService.cache()) {
          @for (instanceLocation of dataService.displayItems(); track instanceLocation.id) {
            <tr class="transition hover:bg-gray-50 dark:hover:bg-gray-900" #locationList>
              <td class="lg:w-14 px-5 py-4 whitespace-nowrap">
                <label
                  class="cursor-pointer text-sm font-medium text-gray-700 select-none dark:text-gray-400"
                >
                  <input class="sr-only" type="checkbox" /><span
                  class="flex h-4 w-4 items-center justify-center rounded-sm border-[1.25px] bg-transparent border-gray-300 dark:border-gray-700"
                ><span class="opacity-0"
                ><svg
                  fill="none"
                  height="12"
                  viewBox="0 0 12 12"
                  width="12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                        <path
                          d="M10 3L4.5 8.5L2 6"
                          stroke="white"
                          strokeLinecap="round"
                          strokeLinejoin="round"
                          strokeWidth="1.6666"
                        ></path></svg></span
                ></span>
                </label>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-500 dark:text-gray-400">{{ instanceLocation.id }}</p>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  {{ instanceLocation.address }}
                </p>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  {{ instanceLocation.description }}
                </p>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <div class="flex items-center gap-3">
                  <span class="text-sm font-medium text-gray-700 dark:text-gray-400">{{
                      instanceLocation.locationTypesEntity?.locationType | enumToString: LocationTypesList
                    }}</span>
                </div>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  {{ instanceLocation.locationTypesEntity?.description }}
                </p>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-700 dark:text-gray-400">
                  {{ instanceLocation.createdDate | date }}
                </p>
              </td>
              <td class="px-5 py-4 whitespace-nowrap">
                <p class="text-sm text-gray-700 dark:text-gray-400">
                  {{ instanceLocation.updatedDate | date }}
                </p>
              </td>
            </tr>
          }
        } @else {
          <app-spinner-component></app-spinner-component>
        }

      <!---->
      </tbody>
    </table>
  </div>
  <app-pagination-component
    [pageNumbers]="pageNumbers()"
    [totalPageCount]="headerInfo().TotalPageCount"
  >
  </app-pagination-component>
</div>
