<div class="bg-white border border-gray-200 dark:bg-white/[0.03] dark:border-gray-800 rounded-2xl">
  <div class="px-6 py-5">
    <h3 class="text-base font-medium text-gray-800 dark:text-white/90">User</h3>
  </div>
  <div class="p-4 border-t border-gray-100 dark:border-gray-800 sm:p-6">
    <div class="space-y-6">
      <form (submit)="onSubmit($event)">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          <div class="col-span-2 sm:col-span-1">
            <app-label for="firstName"> First name </app-label>
            <input
              [formField]="createForm.firstName"
              type="text"
              id="firstName"
              placeholder="firstName"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.firstName().invalid() && createForm.firstName().touched()) {
              @for (error of createForm.firstName().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="col-span-2 sm:col-span-1">
            <app-label for="lastName"> Last name </app-label>
            <input
              [formField]="createForm.lastName"
              type="text"
              id="lastName"
              placeholder="lastName"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.lastName().invalid() && createForm.lastName().touched()) {
              @for (error of createForm.lastName().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="col-span-2">
            <app-label for="username"> Username </app-label>
            <input
              [formField]="createForm.username"
              type="text"
              id="username"
              placeholder="username"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.username().invalid() && createForm.username().touched()) {
              @for (error of createForm.username().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="col-span-2">
            <app-label for="email"> Email </app-label>
            <input
              [formField]="createForm.email"
              type="text"
              id="email"
              placeholder="email"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.email().invalid() && createForm.email().touched()) {
              @for (error of createForm.email().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="col-span-2">
            <app-label for="password"> Password </app-label>
            <input
              [formField]="createForm.password"
              type="password"
              id="password"
              placeholder="Password"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.password().invalid() && createForm.password().touched()) {
              @for (error of createForm.password().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="col-span-2">
            <app-label for="confirmPassword"> Confirm Password </app-label>
            <input
              [formField]="createForm.confirmPassword"
              type="password"
              id="confirmPassword"
              placeholder="confirm Password"
              class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800"
            />
            @if (createForm.confirmPassword().invalid() && createForm.confirmPassword().touched()) {
              @for (error of createForm.confirmPassword().errors(); track error.formField) {
                <p>{{ error.message }}</p>
              }
            }
          </div>
          <div class="flex gap-3">
            <button
              [disabled]="createForm().invalid()"
              type="submit"
              class="inline-flex items-center justify-center gap-2 rounded-lg transition w-full px-4 py-3 text-sm bg-brand-500 text-white shadow-theme-xs hover:bg-brand-600 disabled:bg-brand-300"
            >
              Submit
            </button>
            <button
              (click)="CancelForm()"
              type="reset"
              class="inline-flex items-center justify-center gap-2 rounded-lg transition px-4 py-3 text-sm bg-white text-gray-700 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 dark:bg-gray-800 dark:text-gray-400 dark:ring-gray-700 dark:hover:bg-white/[0.03] dark:hover:text-gray-300"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
