<div
  class="flex flex-col justify-between gap-6 rounded-2xl border border-gray-200 bg-white px-6 py-5 sm:flex-row sm:items-center dark:border-gray-800 dark:bg-white/3"
>
  <div class="flex flex-col gap-2.5 divide-gray-300 sm:flex-row sm:divide-x dark:divide-gray-700">
    <div class="flex items-center gap-2 sm:pr-3">
      <span class="text-base font-medium text-gray-700 dark:text-gray-400">
        Cart Id : {{ selectedCart.value()?.id }} -
        {{ selectedCart.value()?.status | enumToString: PaymentStatusEnum }}
      </span>
    </div>
    <p class="text-sm text-gray-500 sm:pl-3 dark:text-gray-400">
      Create date:&nbsp; {{ selectedCart.value()?.createdDate | date: 'medium' }}
    </p>
  </div>
  <div
    class="rounded-lg border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03] sm:w-fit"
  ></div>
</div>
<div class="my-4"></div>
<div class="space-y-6 lg:col-span-4 2xl:col-span-3">
  <div>
    <div
      class="rounded-2xl border border-gray-200 bg-white p-6 dark:border-gray-800 dark:bg-white/3"
    >
      <h2 class="mb-5 text-lg font-semibold text-gray-800 dark:text-white/90">Cart Summary</h2>
      <ul class="divide-y divide-gray-100 dark:divide-gray-800">
        @if (selectedCart.value(); as cart) {
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Clerk </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.userEntity?.username }}
            </span>
          </li>
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Client </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.accounts?.firstName }} - {{ cart.accounts?.lastName }}
            </span>
          </li>
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Location </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.locationTypesInstances?.address }} -
              {{ cart.locationTypesInstances?.description }}
            </span>
          </li>
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Total </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.total }}
            </span>
          </li>
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Paid </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.paid }}
            </span>
          </li>
          <li class="flex items-start gap-5 py-2.5">
            <span class="w-1/2 text-sm text-gray-500 sm:w-1/3 dark:text-gray-400"> Remaining </span
            ><span class="w-1/2 text-sm text-gray-700 sm:w-2/3 dark:text-gray-400">
              {{ cart.remaining }}
            </span>
          </li>
        }
      </ul>
    </div>
  </div>
  <div></div>
</div>
<div class="my-4"></div>
<div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
  <div class="lg:col-span-12 2xl:col-span-12">
    <div
      class="rounded-2xl border border-gray-200 bg-white p-6 dark:border-gray-800 dark:bg-white/3"
    >
      <h2 class="mb-5 text-lg font-semibold text-gray-800 dark:text-white/90">Cart Details</h2>
      <div class="overflow-hidden rounded-2xl border border-gray-100 dark:border-gray-800">
        <div class="custom-scrollbar overflow-x-auto">
          <table class="min-w-full text-left text-sm text-gray-700 dark:border-gray-800">
            <thead class="bg-gray-50 dark:bg-gray-900">
              <tr class="border-b border-gray-100 whitespace-nowrap dark:border-gray-800">
                <th
                  class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-700 dark:text-gray-400"
                >
                  Id
                </th>
                <th
                  class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-700 dark:text-gray-400"
                >
                  Operation
                </th>
                <th
                  class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-500 dark:text-gray-400"
                >
                  Price
                </th>
                <th
                  class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-700 dark:text-gray-400"
                >
                  Serial Number
                </th>
                <th
                  class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-700 dark:text-gray-400"
                >
                  Notes
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-100 bg-white dark:divide-gray-800 dark:bg-white/[0.03]"
            >
              @for (item of selectedCart.value()?.storeCartsEntityDetails; track item.id) {
                <tr>
                  <td class="px-5 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                    {{ item.id }}
                  </td>
                  <td class="px-5 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                    {{ item.operationType | enumToString: StoreOperationType }}
                  </td>
                  <td
                    class="px-5 py-4 text-sm font-medium whitespace-nowrap text-gray-800 dark:text-white/90"
                  >
                    {{ item.price }}
                  </td>
                  <td class="px-5 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                    {{ item.goodsTypesInstance?.serialNumber }}
                  </td>
                  <td class="px-5 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                    {{ item.notes }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
